html,body {
    height:100%
    
}
footer {
    padding: 50px ;
}
section {
    margin-top:150px;
    margin-bottom: 150px;
}
.button {
    display: block;
    background: rgb(255, 255, 255);
    border:none;
    width: 200px;
    font-size: 20px;
    font-weight:bolder;
    margin: 20px auto;
    text-align: center;
    align-items: center;
    font-family: 'Libertinus Mono', monospace;
}
ul{
    padding-left: 0;
    display: flex;
    flex-direction: column; 
    align-items: center; 
}
li {
    font-size: 15px;
}
.textbody {
    width: 100%;
    font-size: 13px;
    ;
    align-items: center;
    text-align: center;
}
img {
    width: 300px;
    height: 288px;
    object-fit: cover;
}
nav {
    display: flex;
    justify-content: flex-end; 
}
a {
    font-weight:500;
    color: #000000; 
    text-decoration: none;
    }
a:hover {
    text-decoration: underline;
    }
.custom-font {
    font-family: 'Libertinus Mono', monospace;
}

@media (max-width: 768px) {
    body nav {
        flex-direction: column;
        align-items: center;
    }
}
